.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--secundario)
}

.logoNav {
    width: 80px;
    height: 80px;
    margin-left: 5rem;
}

.logoNav:hover {
    cursor: pointer;
    transform: scale(0.99);
}

.navBar {
    display: flex;
    gap: 10rem;
    margin-right: 5rem;
    color: var(--secundario);
}

.navText {
    border-bottom: 1px solid var(--secundario) hidden;
    cursor: pointer;
}

.navText:hover {
    transition: 1s;
    border-bottom: 1px solid var(--secundario);
}

@media (max-width: 768px) {
    .navContainer {
        display: flex;
        flex-direction: column;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    .logoNav {
        margin: 0;
    }
}