@import url('https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap');

.backDetail {
    display: flex;
    justify-content: center;
}

.nameContainer {
    width: 600px;
}

.detailContainer {
    padding-right: 2rem;
    width: 350px;
}

.tittleDetail {
    color: var(--terciario);
}

.imgContainer {
    display: flex;
    justify-content: flex-start;
}

.imgDetail {
    width: 300px;
    height: 300px;
    margin-bottom: 2rem;
    border: 2px solid var(--secundario);
}

.descDetail {
    font-size: 16px;
}

.textDetail {
    margin: 3px 0;
}

.detailFragance {
    display: flex;
    gap: 1rem;
    border: 1px solid var(--secundario);
}

.textDetailFragance {
    margin: 0;
    font-size: 14px;
    font-family: 'Halant', serif;
}

.buttonPosition {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
}

.stockContainer {
    position: relative;
    top: 10%;
    right: 50%;
    width: 50px;
}

.button {
    align-items: center;
    background-color: var(--secundario);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button:hover,
.button:focus {
    background-color: var(--terciario);
    color: var(--primario);
    transform: scale(1.1);
    transition: 500ms;
}

.button:focus-visible {
    outline: none;
}

.button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.wspImage {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.wspImage:hover {
    transform: scale(1.1);
    transition: 500ms;
}

@media (max-width: 573px) {
    .backDetail {
        flex-direction: column;
        align-items: flex-start;
    }
    .nameContainer {
        width: 300px;
    }
    .buttonPosition {
        margin: 15px 0;
    }
    .stockContainer {
        position: relative;
        right: 1%;
    }
}